.card-grid,
.block-hero {
    padding: var(--space-6) 0 !important;
}

.section.right button .content {
    border-width: 0 !important;

    & span:nth-of-type(1),
    & span:nth-of-type(2) {
        display: none !important;
    }
}