@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sl-nav-height: 3rem;
  --ec-brdRad: 0.5rem;
}

button[data-open-modal] {
  @apply h-8 !important;
}

body {
  @apply subpixel-antialiased !important;
}

body,
.sidebar > .sidebar-pane {
  @apply dark:bg-[#000000] !important;
}

.sidebar > .sidebar-pane {
  @apply border-e-[var(--sl-color-gray-6)] !important;
}

header.header {
  @apply backdrop-blur-md dark:bg-neutral-800/90 bg-neutral-100/80 !important;
}

dialog {
  @apply transition-all opacity-0 translate-y-2 flex border-solid border rounded-lg dark:border-gray-700 dark:bg-gray-900 !important;
}

dialog[open] {
  @apply opacity-100 translate-y-0 !important;
}

dialog::backdrop {
  @apply transition-opacity opacity-0 !important;
}

dialog[open]::backdrop {
  @apply opacity-100 !important;
}

aside.starlight-aside {
  @apply border border-[var(--sl-color-asides-border)] rounded-lg !important;
}

starlight-file-tree,
code,
.expressive-code .frame:not(.is-terminal) pre {
  @apply rounded-lg !important;
}

.expressive-code .frame.is-terminal .header {
  @apply rounded-t-lg !important;
}

.expressive-code .frame.is-terminal pre {
  @apply rounded-b-lg !important;
}

.sl-markdown-content:has(.posts) {
  @apply m-0 !important;
}

.posts {
  @apply gap-2 !important;
}

article.preview {
  @apply border-solid border rounded-lg dark:border-gray-700 dark:bg-gray-900 dark:bg-neutral-800/90 bg-neutral-100/80 p-4 !important;
}

.link-preview {
  --link-preview-corners: 0.5em;
  --link-preview-padding-inline: 0.75rem;
  @apply border-solid border dark:border-gray-700 dark:bg-gray-900 dark:bg-neutral-800/90 bg-neutral-100/80 !important;
  box-shadow: var(--sl-shadow-sm);
}

.link-preview a {
  @apply font-bold no-underline !important;
}
